<!-- Module article-->
<article class="virtusauidocs-module-article" id="demolinks">
    <div class="virtusauidocs-module-article-header">
        <h1 class="virtusauidocs-module-article-title virtusauidocsh1">Demo Pages</h1>
    </div>
    <section class="virtusauidocs-module-article-content">

    	<!-- Your Element/Sub elements starts here -->
		<div class="virtusauidocs-partials">
			<h2 class="virtusauidocs-partials-title virtusauidocsh2">Client-360</h2>
			<!-- Your element code starts here -->
			<div>
				<ul>
					<li><a href="./demo/client-360.html" target="_blank">Client-360</li>
					<li><a href="./demo/transaction-history.html" target="_blank">Transaction History</li>
					<!--<li><a href="./demo/whole-life-policy.html" target="_blank">Whole Life Policy</li>-->
				</ul>
			<!-- Your element code ends here -->
		</div>
    </section>
</article>
<!-- End Module article-->

