<!-- Module article-->
<article class="virtusauidocs-module-article" id="footer">
   <div class="virtusauidocs-module-article-header">
      <h1 class="virtusauidocs-module-article-title virtusauidocsh1">Footer</h1>
   </div>
   <section class="virtusauidocs-module-article-content">
      <!-- Your Element/Sub elements starts here -->
      <div class="virtusauidocs-partials">
         <h2 class="virtusauidocs-partials-title virtusauidocsh2">Footer Demo</h2>
         <!-- Your element code starts here -->
         <!--            <footer>
            <div class="nylui-footer">
                <div class="container-fluid">
                    <section class="">©&nbsp;Copyright 2016 Virtusa Corp, Inc. All rights reserved.</section>
                </div>
            </div>
            </footer> -->
         <footer>
		<div class="nylui-footer">
			<div class="container-fluid text-center">
				<div class="col-sm-12">
					<div class="nylui-footercolumn">
						<ul class="list-group">
							<li class="list-group-item inline-block"><a href="#">Contact</a></li>
							<li class="list-group-item inline-block"><a href="#">FAQs</a></li>
							<li class="list-group-item inline-block"><a href="#">Newsroom</a></li>
							<li class="list-group-item inline-block"><a href="#">Careers</a></li>
						</ul>
					</div>
				</div>
				<div class="nylui-privacy-policies">
					<div><span>Terms of use</span></div>
					<div><span>Privacy & Other Policies</span></div>
				</div>
				<div class="nylui-footerborder">
				</div>
				<div class="nylui-copyright">
					<span class="nylui-footer-bottom-step1">©&nbsp;2017 New York Life Insurance Company, New York,</span>
                    <span class="nylui-footer-bottom-step2">NY</span>
					<span class="nylui-footer-bottom-step3">ALL RIGHTS RESERVED.</span>
				</div>
			</div>
		</div>
	</footer>
         <!-- Your element code ends here -->
         <!-- code snippet come below -->
         <div class="virtusauidocs-partials-code">
            <span class="virtusauidocs-partials-code-title">Code</span>
            <pre class="prettyprint"><code class="lang-html" style="display:inline-block"></code></pre>
         </div>
      </div>
   </section>
</article>
<!-- End Module article-->