<!-- Module article-->
<article class="virtusauidocs-module-article" id="pagelayouts">
	<div class="virtusauidocs-module-article-header">
		<h1 class="virtusauidocs-module-article-title virtusauidocsh1">Page Layouts</h1>
	</div>
	<section class="virtusauidocs-module-article-content">

		<!-- Your Element/Sub elements starts here -->
		<div class="virtusauidocs-partials">
			<h2 class="virtusauidocs-partials-title virtusauidocsh2">Starter Template</h2>
			<!-- Your element code starts here -->
			<h3>Starter HTML5 based template for begin the UI development.</h3>
			<p>This View doesn't have any previews</p>
			<!-- Your element code ends here -->
			<!-- code snippet come below -->
			<div class="virtusauidocs-partials-code">
				<span class="virtusauidocs-partials-code-title">Code</span>
				<pre class="prettyprint"><code class="lang-html" style="display:inline-block" ></code></pre>
			</div>
		</div>
	</section>



	<section class="virtusauidocs-module-article-content">

		<!-- Your Element/Sub elements starts here -->
		<div class="virtusauidocs-partials">
			<h2 class="virtusauidocs-partials-title virtusauidocsh2">Page Layouts</h2>
			<!-- Your element code starts here -->
			<h3> One Column Layout</h3>
			<br/>

			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<!-- Your code starts here -->
					Full width column
				</div>
			</div>

			<br/>
			<br/>

			<h3> Two Column Layout</h3>
			<br/>
			<div class="row">

				<div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 nylui-left-panel-wrapper">
					<!-- Your code starts here -->
					Left Column
				</div>
				<div class="col-lg-10 col-md-10 col-sm-10 col-xs-12">
					<!-- Your code starts here -->
					Right Column
				</div>
			</div>
			<br/>
			<br/>

			<h3> Three Column Layout</h3>
			<br/>

			<div class="row">

				<div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
					<!-- Your code starts here -->
					Left Column
				</div>
				<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
					<!-- Your code starts here -->
					Middle Column
				</div>
				<div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
					<!-- Your code starts here -->
					Right Column
				</div>
			</div>


			<!-- Your element code ends here -->
			<!-- code snippet come below -->
			<div class="virtusauidocs-partials-code">
				<span class="virtusauidocs-partials-code-title">Code</span>
				<pre class="prettyprint"><code class="lang-html" style="display:inline-block" ></code></pre>
			</div>
		</div>
	</section>
</article>
<!-- End Module article-->