<!-- Module article-->
<article class="virtusauidocs-module-article" id="swatch">
	<div class="virtusauidocs-module-article-header">
		<h1 class="virtusauidocs-module-article-title virtusauidocsh1">Swatch</h1>
	</div>
	<section class="virtusauidocs-module-article-content">
		<!-- Your Element/Sub elements starts here -->
		<div class="virtusauidocs-partials">
			<h2 class="virtusauidocs-partials-title virtusauidocsh2">New York Life Brand Color</h2>
			<!-- Your element code starts here -->
			<div class="row">
				<div class="col-xs-12">
					<div class="virtusauidocs-swatch nylui-basecolor"></div>
					<p class="virtusauidocs-swatch-p"><span>NYL BRAND COLOR</span> #0A3C53
						<br>".nylui-basecolor"</p>
				</div>
			</div>
			<!-- Your element code ends here -->
		</div>

		<!-- Your Element/Sub elements starts here -->
		<div class="virtusauidocs-partials">
			<h2 class="virtusauidocs-partials-title virtusauidocsh2">New York Life Secondary Brand Pallete</h2>
			<!-- Your element code starts here -->
			<div class="row">
				<div class="col-xs-4">
					<div class="virtusauidocs-swatch nylui-secondarycolor1"></div>
					<p class="virtusauidocs-swatch-p"><span>STEEL (NEUTRAL)</span> #0a3c53
						<br>".nylui-secondarycolor1"</p>
				</div>
				<div class="col-xs-4">
					<div class="virtusauidocs-swatch nylui-secondarycolor2"></div>
					<p class="virtusauidocs-swatch-p"><span>LIGHT RAIN</span> #42b8fb
						<br>".nylui-secondarycolor2"</p>
				</div>
				<div class="col-xs-4">
					<div class="virtusauidocs-swatch nylui-secondarycolor3"></div>
					<p class="virtusauidocs-swatch-p"><span>LIGHT TWILIGHT</span> #a994d8
						<br>".nylui-secondarycolor3"</p>
				</div>

				<div class="col-xs-4">
					<div class="virtusauidocs-swatch nylui-secondarycolor4"></div>
					<p class="virtusauidocs-swatch-p"><span>LIGHT SUNSET</span> #f8a04b
						<br>".nylui-secondarycolor4"</p>
				</div>

			</div>
			<!-- Your element code ends here -->
		</div>


		<!-- Your Element/Sub elements starts here -->
		<div class="virtusauidocs-partials">
			<h2 class="virtusauidocs-partials-title virtusauidocsh2">New York Life Background Brand Pallete</h2>
			<!-- Your element code starts here -->
			<div class="row">

				<div class="col-xs-4">
					<div class="virtusauidocs-swatch nylui-backgroundcolor1"></div>
					<p class="virtusauidocs-swatch-p"><span>LIGHT GOLD (TINT)</span> #fff9ee
						<br>".nylui-backgroundcolor1"</p>
				</div>
				<div class="col-xs-4">
					<div class="virtusauidocs-swatch nylui-backgroundcolor2"></div>
					<p class="virtusauidocs-swatch-p"><span>FUNCTIONAL GRAY 4</span> #f5f5f5
						<br>".nylui-backgroundcolor2"</p>
				</div>
				<div class="col-xs-4">
					<div class="virtusauidocs-swatch nylui-backgroundcolor3"></div>
					<p class="virtusauidocs-swatch-p"><span>LIGHT GREEN</span> #f0f6e5
						<br>".nylui-backgroundcolor3"</p>
				</div>
				<div class="col-xs-4">
					<div class="virtusauidocs-swatch nylui-backgroundcolor4"></div>
					<p class="virtusauidocs-swatch-p"><span>LIGHT BLUE</span> #f4fafe
						<br>".nylui-backgroundcolor4"</p>
				</div>

			</div>
			<!-- Your element code ends here -->
		</div>

		<!-- Your Element/Sub elements starts here -->
		<div class="virtusauidocs-partials">
			<h2 class="virtusauidocs-partials-title virtusauidocsh2">New York Life Web-Specific Brand Pallete</h2>
			<!-- Your element code starts here -->
			<div class="row">
				<div class="col-xs-4">
					<div class="virtusauidocs-swatch nylui-webcolor1"></div>
					<p class="virtusauidocs-swatch-p"><span>WEB ROCK (NEUTRAL)</span> #35363a
						<br>".nylui-webcolor1"</p>
				</div>
				<div class="col-xs-4">
					<div class="virtusauidocs-swatch nylui-webcolor2"></div>
					<p class="virtusauidocs-swatch-p"><span>FUNCTIONAL GRAY 1</span> #5e605e
						<br>".nylui-webcolor2"</p>
				</div>
				<div class="col-xs-4">
					<div class="virtusauidocs-swatch nylui-webcolor3"></div>
					<p class="virtusauidocs-swatch-p"><span>FUNCTIONAL GRAY 2</span> #7d7f7d
						<br>".nylui-webcolor3"</p>
				</div>
				<div class="col-xs-4">
					<div class="virtusauidocs-swatch nylui-webcolor4"></div>
					<p class="virtusauidocs-swatch-p"><span>FUNCTIONAL GRAY 3</span> #cdcdcd
						<br>".nylui-webcolor4"</p>
				</div>

			</div>
			<!-- Your element code ends here -->
		</div>


		<!-- Your Element/Sub elements starts here -->
		<div class="virtusauidocs-partials">
			<h2 class="virtusauidocs-partials-title virtusauidocsh2">New York Life Alerts Color Palette</h2>
			<!-- Your element code starts here -->
			<div class="row">
				<div class="col-xs-4">
					<div class="virtusauidocs-swatch nylui-alert-success"></div>
					<p class="virtusauidocs-swatch-p"><span>SUCCESS</span> #62b10b
						<br>".nylui-alert-success"</p>
				</div>
				<div class="col-xs-4">
					<div class="virtusauidocs-swatch nylui-alert-danger"></div>
					<p class="virtusauidocs-swatch-p"><span>ERROR</span> #eb5b4f
						<br>".nylui-alert-danger"</p>
				</div>
			</div>
			<!-- Your element code ends here -->
		</div>


		<!-- Your Element/Sub elements starts here -->
		<div class="virtusauidocs-partials">
			<h2 class="virtusauidocs-partials-title virtusauidocsh2">New York Life Color Palette for Fund Types</h2>
			<!-- Your element code starts here -->
			<div class="row">
				<div class="col-xs-4">
					<div class="virtusauidocs-swatch nylui-fundtype1"></div>
					<p class="virtusauidocs-swatch-p"><span>AGGRESSIVE GREEN</span> #466e5a
						<br>".nylui-fundtype1"</p>
				</div>
				<div class="col-xs-4">
					<div class="virtusauidocs-swatch nylui-fundtype2"></div>
					<p class="virtusauidocs-swatch-p"><span>ERROR</span> #769870
						<br>".nylui-fundtype2"</p>
				</div>
				<div class="col-xs-4">
					<div class="virtusauidocs-swatch nylui-fundtype3"></div>
					<p class="virtusauidocs-swatch-p"><span>CONSERVATIVE GREEN</span> #96dea3
						<br>".nylui-fundtype3"</p>
				</div>
			</div>
			<!-- Your element code ends here -->
		</div>


	</section>
</article>
<!-- End Module article-->