<!-- alert box default -->         
<div class="nylui-alert nylui-alert-default">
<a href="#" class="nylui-alert-close fa fa-times" data-dismiss="alert" aria-label="close"></a>    
<strong> Keep in mind</strong> You should follow up with a call.
</div>
<!-- alert box error --> 
<div class="nylui-alert nylui-alert-danger">
<a href="#" class="nylui-alert-close fa fa-times" data-dismiss="alert" aria-label="close"></a>                          
<strong> Keep in mind</strong> You should follow up with a call.
</div>
<!-- alert box success --> 
<div class="nylui-alert nylui-alert-success">
<a href="#" class="nylui-alert-close fa fa-times" data-dismiss="alert" aria-label="close"></a>      
<strong>Success!</strong> Your transaction was accepted.
</div>