<div class="nylui-card nylui-card-vertical">
    <div class="nylui-card-image">
        <img alt="" src="assets/images/landscape.jpg">
    </div>
    <div class="nylui-card-content">
        <div class="nylui-content-section">
            <h3><a href="">The card title</a></h3>
            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore..</p>
        </div>
        <div class="nylui-content-link">
            <a href="">Read More</a>
        </div>
    </div>
</div>