<div id="nyljs-carousel" class="nylui-carousel">
    <!-- Wrapper for Slides -->
    <div class="nylui-carousel-inner">
        <div id="Carouselitem1" class="show">
            <!-- Wrapper for Slides -->
            <div class="nylui-card">
                <div class="nylui-card-image">
                    <img alt="" src="assets/images/carousel1.jpg">
                </div>
                <div class="nylui-card-content flex-column">
                    <div class="nylui-content-section flex-1">
                        <h3><a href="">The card title 1</a></h3>
                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore..</p>
                    </div>
                    <div class="nylui-content-link">
                        <a href="">Read More</a>
                    </div>
                </div>
            </div>
        </div>
        <div id="Carouselitem2" class="hide">
            <!-- Wrapper for Slides -->
            <div class="nylui-card">
                <div class="nylui-card-image">
                    <img alt="" src="assets/images/carousel2.jpg">
                </div>
                <div class="nylui-card-content flex-column">
                    <div class="nylui-content-section flex-1">
                        <h3><a href="">The card title 2</a></h3>
                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore..</p>
                    </div>
                    <div class="nylui-content-link">
                        <a href="">Read More</a>
                    </div>
                </div>
            </div>
        </div>
        <div id="Carouselitem3" class="hide">
                        <!-- Wrapper for Slides -->
                        <div class="nylui-card">
                            <div class="nylui-card-image">
                                <img alt="" src="assets/images/carousel3.jpg">
                            </div>
                            <div class="nylui-card-content flex-column">
                                <div class="nylui-content-section flex-1">
                                    <h3><a href="">The card title 3</a></h3>
                                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore..</p>
                                </div>
                                <div class="nylui-content-link">
                                    <a href="">Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>
    </div>
    <!-- Indicators -->
    <div class="nylui-carousel-indicators">
        <ol>
            <li data-target="#nyljs-carousel" data-slide-to="1" class="active"></li>
            <li data-target="#nyljs-carousel" data-slide-to="2" class=""></li>
            <li data-target="#nyljs-carousel" data-slide-to="3" class=""></li>
        </ol>
        <!-- Controls -->
        <div class="nylui-carousel-controls">
            <a class="nylui-prev" href="#nyljs-carousel" data-slide="prev">
                <i class="fa fa-angle-left" aria-hidden="true"></i>
            </a>
            <a class="nylui-next" href="#nyljs-carousel" data-slide="next">
                <i class="fa fa-angle-right" aria-hidden="true"></i>
            </a>
        </div>
    </div>
</div>