<!-- Module article-->
<article class="virtusauidocs-module-article" id="headermenu">
  <div class="virtusauidocs-module-article-header">
    <h1 class="virtusauidocs-module-article-title virtusauidocsh1">NYL Megamenu</h1>
  </div>
  <section class="virtusauidocs-module-article-content">

    <!-- Your Element/Sub elements starts here -->
    <div class="virtusauidocs-partials">
      <h2 class="virtusauidocs-partials-title virtusauidocsh2">CSS3 based NYL megamenu</h2>
      <!-- Your element code starts here -->
      <header>
        <div class="nylui-header">
          <div class="container-fluid">
            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-12 nylui-menu-wrapper">
                <div class="nylui-header-list">
                  <nav id="nyljs-megamenu">
                    <!-- mobile menu section -->
                    <div class="clearfix nylui-mobile-megamenu">
                      <div class="nylui-logo-wrapper">
                        <a href="https://www.newyorklife.com/" class="nylui-logo"><img src="../assets/images/nyl_logo.svg" alt="New York Life" title="New York Life Home"></a>
                      </div>
                      <div class="menu-open">
                        <div class="nylui-hamburger"></div>
                      </div>
                    </div>
                    <!-- end mobile menu section -->
                    <!-- nylui menu -->
                    <ul id="nylui-menu" class="nylui-megamenu">
                      <!-- Portfolio section -->
                      <li class="nylui-portfolio-section">
                        <a href="#">Portfolio<i class="fa fa-angle-down" aria-hidden="true"></i></a>
                        <div class="nylui-megamenu-submenu">
                          <!-- Insure block -->
                          <div class="nylui-megamenu-column-3">
                            <h3>Insure</h3>
                            <ul>
                              <li>
                                <div class="row">
                                  <div class="col-xs-12 col-sm-12 col-md-7">
                                    <a href="#">
																	<span class="nylui-insure-title">My Life Policy</span>
																	<br/>
																	<span class="nylui-insure-value">665557777</span>
																</a>
                                  </div>
                                  <div class="col-xs-12 col-sm-12 col-md-5"><a href="#"><span class="pull-right nylui-insure-price">$<span class="nylui-currency-format">803123</span></span></a></div>
                                </div>
                              </li>
                              <li>
                                <div class="row">
                                  <div class="col-xs-12 col-sm-12 col-md-7">
                                    <a href="#">
																	<span class="nylui-insure-title">Long Term Care</span>
																	<br/>
																	<span class="nylui-insure-value">4356574567</span>
																</a>
                                  </div>
                                  <div class="col-xs-12 col-sm-12 col-md-5"><a href="#"><span class="pull-right nylui-insure-price">$<span class="nylui-currency-format">803123</span></span></a></div>
                                </div>
                              </li>
                              <li class="">
                                <!-- Select control none border menu   -->
                                <div class="nylui-select nylui-select-more">
                                  <div class="nylui-select-border-none">
                                    <select>
																			<option value="select">More Policies</option>
																			<option value="policy2">Policy 1</option>
																			<option value="policy2">Policy 2</option>
																			<option value="policy3">Policy 3</option>
																		</select>
                                    <div class="nylui-arrow"><i class="fa fa-caret-down"></i></div>
                                  </div>
                                </div>
                              </li>
                              <li class="nylui-li-block"><a class="menu-learn-link-text" href="https://www.newyorklife.com/">Learn about insurance products</a></li>
                            </ul>
                          </div>
                          <!-- end Insure block -->
                          <!-- Invest block -->
                          <div class="nylui-megamenu-column-3">
                            <h3 class="hidden-sm hidden-xs">Invest</h3>
                            <ul>
                              <li><a class="menu-learn-link-text" href="https://www.newyorklife.com/">Learn about investment products</a></li>
                            </ul>
                          </div>
                          <!-- end Invest block -->
                          <!-- Retire block -->
                          <div class="nylui-megamenu-column-3">
                            <h3 class="hidden-sm hidden-xs">Retire</h3>
                            <ul>
                              <li><a class="menu-learn-link-text" href="https://www.newyorklife.com/">Learn about retirement products</a></li>
                            </ul>
                          </div>
                          <!-- end Retire block -->
                          <hr/>
                        </div>
                      </li>
                      <!-- end Portfolio section -->
                      <!-- Beneficiaries section -->
                      <li class="nylui-Beneficiaries-section">
                        <a href="#">Beneficiaries<i class="fa fa-angle-down" aria-hidden="true"></i></a>
                        <div class="nylui-beneficiaries">
                          <!-- Manage Beneficiaries block -->
                          <div class="nylui-megamenu-column-3">
                            <h3>Manage Beneficiaries</h3>
                            <ul>
                              <li><a href="#">All beneficiaries</a></li>
                              <li class="nylui-li-block"><a href="#">Beneficiaries by Policy</a></li>
                            </ul>
                          </div>
                          <!-- end Manage Beneficiaries block -->
                          <!-- Learn Beneficiaries block -->
                          <div class="nylui-megamenu-column-2 hidden-sm hidden-xs">
                            <h3>Learn About Beneficiaries </h3>
                            <ul>
                              <li><a class="menu-learn-link-text" href="">We're here to guide you</a></li>
                              <li class="nylui-li-block"><a class="menu-learn-link-text" href="">FAQs for Benes and Executors</a></li>
                              <li class="nylui-li-block"><a class="menu-learn-link-text" href="">Guidance for surviving spouses</a></li>
                            </ul>
                          </div>
                          <!-- end Learn Beneficiaries block -->
                          <hr/>
                        </div>

                      </li>
                      <!-- end Beneficiaries section -->
                      <!-- Account section -->
                      <li class="nylui-account-section">
                        <a href="#">Account<i class="fa fa-angle-down" aria-hidden="true"></i></a>
                        <div class="nylui-account">
                          <!-- Billing block -->
                          <div class="nylui-megamenu-column-3">
                            <h3>Billing & Payments</h3>
                            <ul>
                              <li><a href="#">Pay a bill</a></li>
                              <li class="nylui-li-block"><a href="#">View payment history</a></li>
                              <li class="nylui-li-block"><a href="#">Manage banks & Recurring payments</a></li>
                              <li class="nylui-li-block"><a href="#">Billing & Payments</a></li>
                            </ul>
                          </div>
                          <!-- end Billing block -->
                          <!-- My Profile block -->
                          <div class="nylui-megamenu-column-3">
                            <h3>My Profile</h3>
                            <ul>
                              <li>
                                <div class="row">
                                  <div class="col-md-6">
                                    <ul>
                                      <li><a href="#">Contact information</a></li>
                                      <li class="nylui-li-block"><a href="#">Investor profile</a></li>
                                      <li class="nylui-li-block"><a href="#">Report a death</a></li>
                                    </ul>
                                  </div>
                                  <div class="col-md-6">
                                    <ul>
                                      <li><a href="#">Username & password</a></li>
                                      <li class="nylui-li-block"><a href="#">Security questions</a></li>
                                    </ul>
                                  </div>
                                </div>
                              </li>
                            </ul>
                          </div>
                          <!-- end My Profile block -->
                          <!-- My Documents block -->
                          <div class="nylui-megamenu-column-3">
                            <h3>My Documents</h3>
                            <ul>
                              <li><a href="#">Service forms</a></li>
                              <li class="nylui-li-block"><a href="#">Policy documents</a></li>
                              <li class="nylui-li-block"><a href="#">Electronic documents delivery option</a></li>
                            </ul>
                          </div>
                          <!-- end My Documents block -->
                          <hr/>
                        </div>

                      </li>
                      <!-- end Account section -->
                      <!-- Contact section -->
                      <li class="nylui-contact-section">
                        <a href="#">Contact Us<i class="fa fa-angle-down" aria-hidden="true"></i></a>
                        <div class="nylui-contact">
                          <!-- Contact us block -->
                          <div class="nylui-megamenu-column-2">
                            <h3>Contact Your Agent</h3>
                            <div class="row nylui-contact-div">
                              <div class="col-xs-12 col-sm-12 col-md-6">
                                <div class="row">
                                  
                                  <div class="col-xs-12 col-sm-12 col-md-12">
                                    <ul>
                                      <li class="nyl-contact-section-li  hidden-xs hidden-sm">
                                        <div class="row">
                                          <div class="col-xs-12 col-sm-12 col-md-5">
                                            <!--	<div class="nylui-contact-user"></div> -->
                                            <img class="img-responsive contact-img" src="../assets/images/menu_face.png" alt="conatct user" title="conatct user" />
                                          </div>
                                          <div class="col-xs-12 col-sm-12 col-md-7 nylui-contact-right">
                                            <ul>
                                              <li><a class="nylui-contact-name" href="#">Joseph <br/>Johnson</a></li>
                                              <li class="nylui-contact-details"><a href="#">(555) 555-1234</a></li>
                                              <li class="nylui-contact-details"><a href="#">joe.johnson@nyl.com</a></li>
                                            </ul>
                                          </div>
                                        </div>
                                      </li>
                                    </ul>
                                  </div>
                                </div>
                              </div>
                              <div class="col-xs-12 col-sm-12 col-md-6">
                                <div class="row">

                                  <div class="col-xs-12 col-sm-12 col-md-12">
                                    <ul>
                                      <li class="nylui-tel-title hidden-xs hidden-sm">We're here to listen and answer</li>
                                      <li class="nylui-tel-no">Call us 1-800-CallNYL</li>
                                    </ul>
                                  </div>
                                  <div class="col-xs-12 col-sm-12 col-md-12">
                                    <ul>
                                      <li><a href="#">Email Us</a></li>
                                    </ul>
                                  </div>

                                </div>
                              </div>
                            </div>
                          </div>
                          <!-- end Contact us block -->
                          <!-- Help block -->
                          <div class="nylui-megamenu-column-2">
                            <h3>Help</h3>
                            <ul>
                              <li>
                                <div class="row">
                                  <div class="col-xs-12 col-sm-12 col-md-6">
                                    <ul class="nyl-ui-links">
                                      <li><a class="nylui-a-header" href="#">FAQs</a></li>
                                      <!--
                                        <li><a href="#">Understanding your policy</a></li>
                                        <li><a href="#">Maintaining beneficiaries</a></li>
                                        <li><a href="#">Making payments</a></li>
                                      -->
                                    </ul>
                                  </div>
                                  <div class="col-xs-12 col-sm-12 col-md-6">
                                    <ul class="nyl-ui-links">
                                      <li><a class="nylui-a-header" href="#">Glossary</a></li>
                                    </ul>
                                  </div>
                                </div>
                              </li>

                            </ul>
                          </div>
                          <!-- end Help block -->
                          <hr/>
                        </div>

                      </li>
                      <!-- end Contact section -->
                    </ul>
                    <!-- end nylui menu -->
                  </nav>
                </div>
                <!-- nylui login section -->
                <div class="nylui-user-menu-container hidden-xs hidden-sm">
                  <div class="nylui-user-menu-text">
                    <ul>
                      <li class="nylui-username">Amanda Palmer</li>
                      <li class="nylui-logout-link"><a href="">Logout</a></li>
                    </ul>
                  </div>
                  <div class="nylui-user-avatar">
                    <img class="userIcon" src="../assets/images/profie.svg" alt="profile icon">
                  </div>
                </div>
                <!-- end nylui login section -->
              </div>
            </div>
          </div>
        </div>
      </header>
      <!-- Your element code ends here -->
      <!-- code snippet come below -->
      <div class="virtusauidocs-partials-code">
        <span class="virtusauidocs-partials-code-title">Code</span>
        <pre class="prettyprint"><code class="lang-html" style="display:inline-block"></code></pre>
      </div>
    </div>
  </section>
</article>
<!-- End Module article-->