<!--CARD TYPE: LONG TERM CARE-->

<div class="nylui-policy-summary-wrapper">
	<div class="row nylui-marginbottom10">
		<div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
			<div class="nylui-fieldlabel">
				<!--YOUR CONTENT GOES HERE-->
			</div>
			<div class="nylui-fieldcontent">
				<!--YOUR CONTENT GOES HERE-->
			</div>
			<div class="nylui-userlabel">
				<span>Insured:</span>
				<span><!--YOUR CONTENT GOES HERE--></span>
			</div>
		</div>
		<div class="col-lg-3 col-md-3 col-sm-3 col-xs-5">
			<div class="nylui-fieldlabel nylui-alignedright nylui-text-uppercase">
				<!--YOUR CONTENT GOES HERE-->
			</div>
			<div class="nylui-fieldcontent nylui-alignedright">
				<!--YOUR CONTENT GOES HERE-->
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
			<div class="nylui-label">
				<div class="nylui-labelinner">
					<div>
						<span class="nylui-detaillabel-large"><span class="font-size-x-small nylui-dolaricon">$</span>
						<span class="nylui-currency-format"><!--YOUR CONTENT GOES HERE--></span>
						</span>
					</div>
					<div>
						<span class="nylui-benefit-label"><!--YOUR CONTENT GOES HERE--></span>
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
			<div class="nylui-label">
				<div class="nylui-labelinner">
					<div class="nylui-longterm-label-small">
						<span class="nylui-detaillabel-small"><span class="font-size-x-small nylui-dolaricon">$</span>
						<span class="nylui-currency-format"><!--YOUR CONTENT GOES HERE--></span>
						</span>
					</div>
					<div>
						<span class="nylui-benefit-label"><!--YOUR CONTENT GOES HERE--></span>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row nylui-marginbottom10">
		<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
			<div class="nylui-label">
				<div class="nylui-labelinner">
					<div>
						<span class="nylui-detaillabel-small"><span class="font-size-x-small nylui-dolaricon">$</span>
						<span class="nylui-currency-format"><!--YOUR CONTENT GOES HERE--></span>
						</span>
					</div>
					<div>
						<span class="nylui-benefit-label"><!--YOUR CONTENT GOES HERE--></span>
					</div>
				</div>
			</div>
		</div>

	</div>
	<div class="row nylui-marginbottom10">
		<div class="col-lg-6 col-md-6 col-sm-7 col-xs-12">
			<hr class="nylui-hr">
		</div>
		<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
			<button class="nylui-button nylui-fluid" type="button">
				<!--YOUR CONTENT GOES HERE-->
			</button>
		</div>
	</div>
</div>