<!--CARD TYPE:Variable Annuity-->

<div class="nylui-policy-summary-wrapper">

	<div class="nylui-card-block-wrapper">
		<div class="row">
			<div class="col-lg-9 col-md-9 col-sm-9 col-xs-7">
				<div class="nylui-fieldlabel nylui-text-uppercase">
					<span><!--YOUR CONTENT GOES HERE--></span>
				</div>

				<div class="nylui-fieldcontent">
					<span><!--YOUR CONTENT GOES HERE--></span>
				</div>
				<div class="nylui-userlabel">
					<span>Annuitant:</span>
					<span><!--YOUR CONTENT GOES HERE--></span>
				</div>
			</div>
			<div class="col-lg-3 col-md-3 col-sm-3 col-xs-5">
				<div class="nylui-fieldlabel nylui-alignedright nylui-text-uppercase">
					<!--YOUR CONTENT GOES HERE-->
				</div>

				<div class="nylui-fieldcontent nylui-alignedright">
					<!--YOUR CONTENT GOES HERE-->
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<!-- Field Label starts here -->
				<div class="nylui-label">
					<div class="nylui-labelinner">
						<span class="nylui-detaillabel-large"><span class="font-size-x-small nylui-dolaricon">$</span>
						<span class="nylui-currency-format"><!--YOUR CONTENT GOES HERE--></span>
						</span>
						<br />
						<span class="nylui-benefit-label"><!--YOUR CONTENT GOES HERE--></span>
					</div>
				</div>
			</div>
		</div>

	</div>

	<div class="row">
		<div class="col-lg-6 col-md-6 hidden-sm hidden-xs">
			<hr class="nylui-hr">
		</div>
		<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
			<button class="nylui-button nylui-fluid" type="button">
				<!--YOUR CONTENT GOES HERE-->
			</button>
		</div>
	</div>
</div>