<!-- Transaction Grid starts here -->
<div class="nylui-grid-outerwrapper">
            <div class="nylui-grid">
               <table class="nylui-grid-inner">
                  <tr>
                     <th><span>DATE</span></th>
                     <th><span>DESCRIPTION</span></th>
                     <th><span>DUE DATE</span></th>
                     <th><span>PREMIUM</span></th>
                  </tr>
                  <tr>
                     <td><span>03/01</span></td>
                     <td><span>Autopay Premium Payment / NYL-A-Plan</span></td>
                     <td><span>03/01/2017</span></td>
                     <td><span>$110.23</span></td>
                  </tr>
                  <tr>
                     <td><span>03/01</span></td>
                     <td><span>Autopay Premium Payment / NYL-A-Plan</span></td>
                     <td><span>03/01/2017</span></td>
                     <td><span>$110.23</span></td>
                  </tr>
               </table>
            </div>
         </div>
<!-- Transaction Grid end here -->