<!-- Module article-->
<article class="virtusauidocs-module-article" id="breadcrumb">
    <div class="virtusauidocs-module-article-header">
        <h1 class="virtusauidocs-module-article-title virtusauidocsh1">Breadcrumb</h1>
    </div>
    <section class="virtusauidocs-module-article-content">
    	<!-- Your Element/Sub elements starts here -->
		<div class="virtusauidocs-partials">
			<h2 class="virtusauidocs-partials-title virtusauidocsh2">Horizontal Breadcrumb</h2>
			<!-- Your element code starts here -->
			 <div class="nylui-breadcrumb-wrapper hidden-xs">
                <nav class="nylui-breadcrumb">
                    <ul>
                        <li  class="active">My Dashboard <i class="fa fa-angle-right" aria-hidden="true"></i></li>
                        <li> Whole Lfe Policy A <i class="fa fa-angle-right" aria-hidden="true"></i></li>
                        <li>My Payments <i class="fa fa-angle-right" aria-hidden="true"></i></li>
                        <li>Transaction History</li>
                    </ul>
                </nav>
            </div>
			<!-- Your element code ends here -->
			<!-- code snippet come below -->
			<div class="virtusauidocs-partials-code">
				<span class="virtusauidocs-partials-code-title">Code</span>
				<pre class="prettyprint"><code class="lang-html" style="display:inline-block" ></code></pre>
			</div>
		</div>
    </section>
</article>
<!-- End Module article-->


