<!-- Module article-->
<article class="virtusauidocs-module-article" id="contentpanel">
    <div class="virtusauidocs-module-article-header">
        <h1 class="virtusauidocs-module-article-title virtusauidocsh1">Content Panel</h1>
    </div>
    <section class="virtusauidocs-module-article-content">
    	<!-- Your Element/Sub elements starts here -->
		<div class="virtusauidocs-partials">
			<h2 class="virtusauidocs-partials-title virtusauidocsh2">Content Panel Example</h2>
			<!-- Your element code starts here -->
				<div class="col-xs-12 col-sm-9 col-md-10">
				   <div class="nylui-content-panel">
                  <div class="nylui-content-header util clearfix">
                    <h4>TRANSACTION OVERVIEW</h4>
                    <a class="nylui-print-icon pull-right hidden-xs" href="javascript:void(0);">
                      <i class="fa fa-print fa-2x" aria-hidden="true"></i>
                    </a>
                  </div>
                  <div class="nylui-content-panel-body">
                     <!-- Your element code starts here -->               
           
                  </div>
                </div>
				</div>
			<!-- Your element code ends here -->
			<!-- code snippet come below -->
			<div class="virtusauidocs-partials-code">
				<span class="virtusauidocs-partials-code-title">Code</span>
				<pre class="prettyprint"><code class="lang-html" style="display:inline-block" ></code></pre>
			</div>
		</div>
    </section>
</article>
<!-- End Module article-->
