<!-- Module article-->
<article class="virtusauidocs-module-article" id="fieldlabel">
	<div class="virtusauidocs-module-article-header">
		<h1 class="virtusauidocs-module-article-title virtusauidocsh1">Field Labels & Field Content</h1>
	</div>
	<section class="virtusauidocs-module-article-content">

		<!-- Your Element/Sub elements starts here -->
		<div class="virtusauidocs-partials">
			<h2 class="virtusauidocs-partials-title virtusauidocsh2">Field Label</h2>
			<!-- Your element code starts here -->
			<div class="nylui-fieldlabel"> Policy Address</div>
			<!-- Your element code ends here -->
			<h2 class="virtusauidocs-partials-title virtusauidocsh2">Field Content</h2>
			<!-- Your element code starts here -->
			<div class="nylui-fieldcontent"> 608 Jackson Street
				<br>Los Angeles, CA 02305
				<br>United Status</div>
			<!-- Your element code ends here -->


			<!-- Your element code ends here -->
			<!-- code snippet come below -->
			<div class="virtusauidocs-partials-code">
				<span class="virtusauidocs-partials-code-title">Code</span>
				<pre class="prettyprint"><code class="lang-html" style="display:inline-block" ></code></pre>
			</div>
		</div>
	</section>
</article>
<!-- End Module article-->