<!-- Module article-->
<article class="virtusauidocs-module-article" id="label">
    <div class="virtusauidocs-module-article-header">
        <h1 class="virtusauidocs-module-article-title virtusauidocsh1">Label</h1>
    </div>
    <section class="virtusauidocs-module-article-content">

    	<!-- Your Element/Sub elements starts here -->
		<div class="virtusauidocs-partials">
			<h2 class="virtusauidocs-partials-title virtusauidocsh2">Default set of Label and some colors</h2>
			<!-- Your element code starts here -->
               
            <div class="row">
				<div class="col-sm-4">
					<h4>Blue Color label </h4>
					<!-- Your element code starts here -->
					<div class="nylui-label nylui-labalblue">
                   <span class="nylui-label nylui-largelabel">$<span class="nylui-currency-format">803123</span></span>
                   </div>
					<!-- Your element code end here -->
				</div>
				<div class="col-sm-4">
					<h4>Blue Color small label </h4>
					<!-- Your element code starts here -->
					<div class="nylui-label nylui-labalblue">
                   <span class="nylui-label nylui-smalllabel">$<span class="nylui-currency-format">803123</span></span>
                   </div>
					<!-- Your element code ends here -->
				</div>
				<div class="col-sm-4">
					<h4>Dark Blue Color label </h4>
					<!-- Your element code starts here -->
					<div class="nylui-label nylui-labaldarkblue">
                   <span class="nylui-label nylui-largelabel">$<span class="nylui-currency-format">803123</span></span>
                   </div>
					<!-- Your element code end here -->
				</div>				
			</div>
             <div class="row">				 
				<div class="col-sm-4">
					<h4>Green Color label </h4>
					<!-- Your element code starts here -->
					<div class="nylui-label nylui-laballightgreen">
                   <span class="nylui-label nylui-largelabel">$<span class="nylui-currency-format">803123</span></span>
                   </div>
					<!-- Your element code end here -->
				</div>
				<div class="col-sm-4">
					<h4>Green Color small label </h4>
					<!-- Your element code starts here -->
					<div class="nylui-label nylui-laballightgreen">
                   <span class="nylui-label nylui-smalllabel">$<span class="nylui-currency-format">803123</span></span>
                   </div>
					<!-- Your element code ends here -->
				</div>	
				<div class="col-sm-4">
					<h4>Dark Blue Color small label</h4>
					<!-- Your element code starts here -->
					<div class="nylui-label nylui-labaldarkblue">
                   <span class="nylui-label nylui-smalllabel">$<span class="nylui-currency-format">803123</span></span>
                   </div>
					<!-- Your element code end here -->
				</div>			
			</div>
            <div class="row">
				<div class="col-sm-4">
					<h4>Orange Color label </h4>
					<!-- Your element code starts here -->
					<div class="nylui-label nylui-laballightorange">
                   <span class="nylui-label nylui-largelabel">$<span class="nylui-currency-format">803123</span></span>
                   </div>
					<!-- Your element code end here -->
				</div>
				<div class="col-sm-4">
					<h4>Orange Color small label</h4>
					<!-- Your element code starts here -->
					<div class="nylui-label nylui-laballightorange">
                   <span class="nylui-label nylui-smalllabel">$<span class="nylui-currency-format">803123</span></span>
                   </div>
					<!-- Your element code end here -->
				</div>
				<div class="col-sm-4">
					<h4>White Color label </h4>
					<!-- Your element code starts here -->
					<div class="nylui-label">
                    <div class="nylui-labelinner">
                    <div>
                   <span class="nylui-detaillabel-large"><span class="font-size-x-small nylui-dolaricon">$</span><span class="nylui-currency-format">803123</span></span>
                    </div>
                    <div>
                   <span class="nylui-benefit-label">Current benefit</span> 
                   </div>     
                    </div>    
                   </div>
					<!-- Your element code end here -->
				</div>				
			</div>
			<div class="row">
				<div class="col-sm-4">
					<h4>White Color small label </h4>
					<!-- Your element code starts here -->
					<div class="nylui-label">
                    <div class="nylui-labelinner">
                    <div>
                   <span class="nylui-detaillabel-small"><span class="font-size-x-small nylui-dolaricon">$</span><span class="nylui-currency-format">803123</span></span>
                   </div>     
                    <div>
                   <span class="nylui-benefit-label">Current benefit</span> 
                   </div>     
                    </div>    
                   </div>
					<!-- Your element code ends here -->
				</div>
				<div class="col-sm-4">
					<!-- Your element code starts here -->
					<!-- Your element code ends here -->
				</div>
				<div class="col-sm-4">
					<!-- Your element code starts here -->
					<!-- Your element code ends here -->
				</div>
			</div>
            
			<!-- Your element code ends here -->
			<!-- code snippet come below -->
			<div class="virtusauidocs-partials-code">
				<span class="virtusauidocs-partials-code-title">Code</span>
				<pre class="prettyprint"><code class="lang-html" style="display:inline-block" ></code></pre>
			</div>
		</div>
    </section>
</article>
<!-- End Module article-->