<!-- Module article-->
<article class="virtusauidocs-module-article" id="logo">
    <div class="virtusauidocs-module-article-header">
        <h1 class="virtusauidocs-module-article-title virtusauidocsh1">Company Logo</h1>
    </div>
    <section class="virtusauidocs-module-article-content">

    	<!-- Your Element/Sub elements starts here -->
		<div class="virtusauidocs-partials">
			<h2 class="virtusauidocs-partials-title virtusauidocsh2">NYL logo</h2>
			<!-- Your element code starts here -->
			<a href="" class="nylui-logo"><img src="assets/images/nyl_logo.svg" alt="New York Life"  title="New York Life Home"></a>
			<!-- Your element code ends here -->
			<!-- code snippet come below -->
			<div class="virtusauidocs-partials-code">
				<span class="virtusauidocs-partials-code-title">Code</span>
				<pre class="prettyprint"><code class="lang-html" style="display:inline-block" ></code></pre>
			</div>
		</div>
    </section>
</article>
<!-- End Module article-->

