<!-- Module article-->
<article class="virtusauidocs-module-article" id="select">
   <div class="virtusauidocs-module-article-header">
      <h1 class="virtusauidocs-module-article-title virtusauidocsh1">Select</h1>
   </div>
   <section class="virtusauidocs-module-article-content">
      <!-- Your Element/Sub elements starts here -->
      <div class="virtusauidocs-partials">
         <h2 class="virtusauidocs-partials-title virtusauidocsh2">Simple Select blue border</h2>
         <!-- Your element code starts here -->
         <div class="nylui-select">
            <div class="nylui-select-border-blue">
               <select>
                  <option value="select">Select</option>
                  <option value="saab">Saab</option>
                  <option value="mercedes">Mercedes</option>
                  <option value="audi">Audi</option>
               </select>
               <div class="nylui-arrow"><i class="fa fa-caret-down"></i></div>
            </div>
         </div>
         <h2 class="virtusauidocs-partials-title virtusauidocsh2">Simple Select gray border</h2>
         <div class="nylui-select">
            <div class="nylui-select-border-gray">
               <select>
                  <option value="select">Select</option>
                  <option value="saab">Saab</option>
                  <option value="mercedes">Mercedes</option>
                  <option value="audi">Audi</option>
               </select>
               <div class="nylui-arrow"><i class="fa fa-caret-down"></i></div>
            </div>
         </div>
          <h2 class="virtusauidocs-partials-title virtusauidocsh2">Simple Select no border</h2>
          <div class="nylui-select">
            <div class="nylui-select-border-none">
               <select>
                  <option value="select">Select</option>
                  <option value="saab">Saab</option>
                  <option value="mercedes">Mercedes</option>
                  <option value="audi">Audi</option>
               </select>
               <div class="nylui-arrow"><i class="fa fa-caret-down"></i></div>
            </div>
         </div>

         <h2 class="virtusauidocs-partials-title virtusauidocsh2">Simple Menu Select</h2>
          <div class="nylui-select nylui-select-more">
            <div class="nylui-select-border-none">
               <select>
                  <option value="select">Select</option>
                  <option value="saab">Saab</option>
                  <option value="mercedes">Mercedes</option>
                  <option value="audi">Audi</option>
               </select>
               <div class="nylui-arrow"><i class="fa fa-caret-down"></i></div>
            </div>
         </div>
         <!-- Your element code ends here -->
         <!-- code snippet come below -->
         <div class="virtusauidocs-partials-code">
            <span class="virtusauidocs-partials-code-title">Code</span>
            <pre class="prettyprint"><code class="lang-html" style="display:inline-block" ></code></pre>
         </div>
      </div>
      <!-- Your Element/Sub elements starts here -->
   </section>
</article>
<!-- End Module article-->