<!-- Module article-->
<article class="virtusauidocs-module-article" id="yourid">
    <div class="virtusauidocs-module-article-header">
        <h1 class="virtusauidocs-module-article-title virtusauidocsh1">main title</h1>
    </div>
    <section class="virtusauidocs-module-article-content">

    	<!-- Your Element/Sub elements starts here -->
		<div class="virtusauidocs-partials">
			<h2 class="virtusauidocs-partials-title virtusauidocsh2">sub title</h2>
			<!-- Your element code starts here -->

			<!-- Your element code ends here -->
			<!-- code snippet come below -->
			<div class="virtusauidocs-partials-code">
				<span class="virtusauidocs-partials-code-title">Code</span>
				<pre class="prettyprint"><code class="lang-html" style="display:inline-block" ></code></pre>
			</div>
		</div>
    </section>
</article>
<!-- End Module article-->

