<!-- Module article-->
<article class="virtusauidocs-module-article" id="typography">
  <div class="virtusauidocs-module-article-header">
    <h1 class="virtusauidocs-module-article-title virtusauidocsh1">Typography</h1>
  </div>
  <section class="virtusauidocs-module-article-content">

    <!-- Your Element/Sub elements starts here -->
    <div class="virtusauidocs-partials">
      <h2 class="virtusauidocs-partials-title virtusauidocsh2">Various header tags</h2>
      <!-- Your element code end here -->
      <h1>This is an h1 element</h1>
      <h2>This is an h2 element</h2>
      <h3>This is an h3 element</h3>
      <h4>This is an h4 element</h4>
      <h5>This is an h5 element</h5>
      <h6>This is an h6 element</h6>



      <!-- code snippet come below -->
      <div class="virtusauidocs-partials-code">
        <span class="virtusauidocs-partials-code-title">Code</span>

        <pre class="prettyprint"><code class="lang-html" style="display:inline-block" ></code></pre>

      </div>
    </div>

    <!-- Your Element/Sub elements starts here -->
    <div class="virtusauidocs-partials">
      <h2 class="virtusauidocs-partials-title virtusauidocsh2">Highlighted header tags</h2>
      <!-- Your element code end here -->
      <h2 class="nylui-higlighted-header"><span>This is a highlighted Header Element.</span></h2>
      <!-- code snippet come below -->
      <div class="virtusauidocs-partials-code">
        <span class="virtusauidocs-partials-code-title">Code</span>

        <pre class="prettyprint"><code class="lang-html" style="display:inline-block" ></code></pre>

      </div>
    </div>

    <!-- Your Element/Sub elements starts here -->
    <div class="virtusauidocs-partials">
      <h2 class="virtusauidocs-partials-title virtusauidocsh2">Main Intro Text</h2>
      <!-- Your element code end here -->
      <p class="nylui-intro-text">This is an example of intro text.</p>
      <!-- code snippet come below -->
      <div class="virtusauidocs-partials-code">
        <span class="virtusauidocs-partials-code-title">Code</span>

        <pre class="prettyprint"><code class="lang-html" style="display:inline-block" ></code></pre>

      </div>
    </div>

    <!-- Your Element/Sub elements starts here -->
    <div class="virtusauidocs-partials">
      <h2 class="virtusauidocs-partials-title virtusauidocsh2">Main Intro Highlighted Text</h2>
      <!-- Your element code end here -->
      <span class="nylui-intro-higlighted-text">This is a highlighted intro text.</span>
      <!-- code snippet come below -->
      <div class="virtusauidocs-partials-code">
        <span class="virtusauidocs-partials-code-title">Code</span>

        <pre class="prettyprint"><code class="lang-html" style="display:inline-block" ></code></pre>

      </div>
    </div>


    <!-- Your Element/Sub elements starts here -->
    <div class="virtusauidocs-partials">
      <h2 class="virtusauidocs-partials-title virtusauidocsh2">Paragraph</h2>
      <!-- Your element code start here -->
      <p>Passwords must begin and end with a letter and contain at least one number. A minimum of 8 characters is required.</p>
      <!-- Your element code end here -->
      <!-- code snippet come below -->
      <div class="virtusauidocs-partials-code">
        <span class="virtusauidocs-partials-code-title">Code</span>
        <pre class="prettyprint"><code class="lang-html" style="display:inline-block" ></code></pre>
      </div>
    </div>

    <!-- Your Element/Sub elements starts here -->
    <div class="virtusauidocs-partials">
      <h2 class="virtusauidocs-partials-title virtusauidocsh2">Link</h2>
      <!-- Your element code start here -->
      <a href "javascript:void(0);">This is a link</a>
      <!-- Your element code end here -->
      <!-- code snippet come below -->
      <div class="virtusauidocs-partials-code">
        <span class="virtusauidocs-partials-code-title">Code</span>
        <pre class="prettyprint"><code class="lang-html" style="display:inline-block" ></code></pre>
      </div>
    </div>

  </section>
</article>
<!-- End Module article-->