<!-- Module article-->
<article class="virtusauidocs-module-article" id="alertbox">
   <div class="virtusauidocs-module-article-header">
      <h1 class="virtusauidocs-module-article-title virtusauidocsh1">Alert Box</h1>
   </div>
   <section class="virtusauidocs-module-article-content">
      <!-- Your Element/Sub elements starts here -->
      <div class="virtusauidocs-partials">
         <h2 class="virtusauidocs-partials-title virtusauidocsh2"></h2>
         <!-- Your element code starts here -->
         <div class="nylui-alert nylui-alert-default">
            <a href="#" class="nylui-alert-close fa fa-times" data-dismiss="alert" aria-label="close"></a>    
            <strong> Keep in mind</strong> You should follow up with a call.
         </div>
         <div class="nylui-alert nylui-alert-danger">
            <a href="#" class="nylui-alert-close fa fa-times" data-dismiss="alert" aria-label="close"></a>                          
            <strong> Opps!</strong> You have a issue, please correct it and try again.
         </div>
         <div class="nylui-alert nylui-alert-success">
            <a href="#" class="nylui-alert-close fa fa-times" data-dismiss="alert" aria-label="close"></a>      
            <strong>Success!</strong> Your transaction was accepted.
         </div>
         <!-- Your element code ends here -->
         <!-- code snippet come below -->
         <div class="virtusauidocs-partials-code">
            <span class="virtusauidocs-partials-code-title">Code</span>
            <pre class="prettyprint"><code class="lang-html" style="display:inline-block"></code></pre>
         </div>
      </div>
   </section>
</article>
<!-- End Module article-->