<!-- Module article-->
<article class="virtusauidocs-module-article" id="informationupdatebox">
    <div class="virtusauidocs-module-article-header">
        <h1 class="virtusauidocs-module-article-title virtusauidocsh1">Marketing message box.</h1>
    </div>
    <section class="virtusauidocs-module-article-content">

    	<!-- Your Element/Sub elements starts here -->
		<div class="virtusauidocs-partials">
			
			<!-- Your element code starts here -->
            <div class="nylui-information-box">
            <h4>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient  </h4>
            <span>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.  </span>
            </div>
            
			<!-- Your element code ends here -->
			<!-- code snippet come below -->
			<div class="virtusauidocs-partials-code">
				<span class="virtusauidocs-partials-code-title">Code</span>
				<pre class="prettyprint"><code class="lang-html" style="display:inline-block"></code></pre>
			</div>
		</div>
    </section>
</article>
<!-- End Module article-->

