<!-- Module article-->
<article class="virtusauidocs-module-article" id="modal">
	<div class="virtusauidocs-module-article-header">
		<h1 class="virtusauidocs-module-article-title virtusauidocsh1">Modal</h1>
	</div>
	<section class="virtusauidocs-module-article-content">
		<!-- Your Element/Sub elements starts here -->


		<div class="virtusauidocs-partials">
			<h2 class="virtusauidocs-partials-title virtusauidocsh2"></h2>
			<!-- Your element code starts here -->
			<div class="nylui-ext-modal nylui-pay-modal">
				<div class="modal fade" id="payModal" tabindex="-1" role="dialog" aria-labelledby="payModalLabel">
					<div class="modal-dialog" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<div class="row">
									<div class="col-xs-12 col-sm-12 col-md-12">
										<a href="#" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></a>
									</div>
								</div>
							</div>
							<div class="modal-body">
								<div class="row">
									<div class="col-xs-12 col-sm-12 col-md-12 nylui-modal-payment-section">
										<span>Continue with one-time payment.</span>
										<a href="#">pay now &nbsp;<img src="assets/images/u1701.png" alt="modal arrow" /></a>
									</div>
									<div class="col-sm-12">
										<hr>
									</div>
									<div class="col-xs-12 col-sm-12 col-md-12 nylui-modal-payment-section">
										<span>Autopay makes paying easy.</span>
										<a href="#">set-up now &nbsp;<img src="assets/images/u1701.png" alt="modal arrow" /></a>
									</div>
									<div class="col-sm-12">
										<div class="nylui-checkbox">
											<input type="checkbox" id="check-message-show">
											<label for="check-message-show">
												<div>
													<i class="nylui-checkbox-check fa fa-check"></i>
												</div>
											</label>
											<label class="nylui-checkbox-text">&nbsp; Do not show this message again.</label>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- End Modal Window-->
			<!-- Start modal trigger -->
			<a href="" type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#payModal">
Launch demo pay modal
</a>
			<!-- End modal trigger -->
			<!-- Your element code ends here -->
			<!-- code snippet come below -->
			<div class="virtusauidocs-partials-code">
				<span class="virtusauidocs-partials-code-title">Code</span>
				<pre class="prettyprint"><code class="lang-html" style="display:inline-block"></code></pre>
			</div>
		</div>

	</section>
</article>