<!-- Module article-->
<article class="virtusauidocs-module-article" id="policysummary">
	<div class="virtusauidocs-module-article-header">
		<h1 class="virtusauidocs-module-article-title virtusauidocsh1">Policy Summary Card</h1>
	</div>
	<section class="virtusauidocs-module-article-content">
		<!-- Your Element/Sub elements starts here -->
		<!--    Start of CARD TYPE:Whole Life Insurance-->
		<div class="virtusauidocs-partials">
			<h2 class="virtusauidocs-partials-title virtusauidocsh2">CARD TYPE:Whole Life Insurance</h2>
			<!-- Your element code starts here -->
			<div class="nylui-policy-summary-wrapper">

				<div class="nylui-card-block-wrapper">
					<div class="row">

						<div class="col-lg-9 col-md-9 col-sm-9 col-xs-7">
							<!-- Field Label starts here -->
							<div class="nylui-fieldlabel nylui-text-uppercase">
								<span>Whole life insurance</span>
							</div>

							<div class="nylui-fieldcontent">
								<span>My Life Policy</span>
							</div>
							<div class="nylui-userlabel">
								<span>Insured:</span> <span>Amanda Palmer</span>
							</div>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-3 col-xs-5">
							<div class="nylui-fieldlabel nylui-alignedright nylui-text-uppercase">
								POLICY NUMBER
							</div>

							<div class="nylui-fieldcontent nylui-alignedright">
								665557777
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
							<!-- Field Label starts here -->
							<div class="nylui-label">
								<div class="nylui-labelinner">
									<span class="nylui-detaillabel-large"><span class="font-size-x-small nylui-dolaricon">$</span><span class="nylui-currency-format">803123</span>
									</span>
									<br />
									<span class="nylui-benefit-label">Death Benefit</span>
								</div>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-lg-3 col-md-3 col-sm-3 col-xs-4">
							<!-- Field Label starts here -->
							<div class="nylui-label">
								<div class="nylui-labelinner">
									<span class="nylui-detaillabel-small"><span class="font-size-x-small nylui-dolaricon">$</span><span class="nylui-currency-format">8506</span>
									</span>
									<br />
									<span class="nylui-benefit-label">Cash value</span>
								</div>
							</div>
						</div>

						<div class="col-lg-3 col-md-3 col-sm-3 hidden-xs">
							<!-- Field Label starts here -->
							<div class="nylui-label">
								<div class="nylui-labelinner">
									<span class="nylui-detaillabel-small"><span class="font-size-x-small nylui-dolaricon">$</span><span class="nylui-currency-format">2300</span>
									</span>
									<br />
									<span class="nylui-benefit-label">Policy loan</span>
								</div>
							</div>
						</div>



						<div class="col-lg-3 col-md-3 col-sm-3 col-xs-4">
							<span class="nylui-premium-due-label">You have a premium due </span>
						</div>

						<div class="col-lg-3 col-md-3 col-sm-3 col-xs-4">
							<button class="nylui-button nylui-fluid" type="button">Pay</button>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-lg-6 col-md-6 hidden-sm hidden-xs">
						<hr class="nylui-hr">
					</div>
					<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
						<button class="nylui-button nylui-fluid" type="button">go to policy</button>
					</div>
				</div>
			</div>
			<!-- Your element code ends here -->
			<!-- code snippet come below -->
			<div class="virtusauidocs-partials-code">
				<span class="virtusauidocs-partials-code-title">Code</span>
				<pre class="prettyprint"><code class="lang-html" style="display:inline-block"></code></pre>
			</div>
		</div>
		<!--    End of CARD TYPE:Whole Life Insurance-->
		<!--    Start of CARD TYPE:Term Life Insurance-->
		<div class="virtusauidocs-partials">
			<h2 class="virtusauidocs-partials-title virtusauidocsh2">CARD TYPE:Term Life Insurance</h2>
			<!-- Your element code starts here -->


			<div class="nylui-policy-summary-wrapper">

				<div class="nylui-card-block-wrapper">
					<div class="row">

						<div class="col-lg-9 col-md-9 col-sm-9 col-xs-7">
							<!-- Field Label starts here -->
							<div class="nylui-fieldlabel nylui-text-uppercase">
								<span>Term Life Insurance</span>
							</div>

							<div class="nylui-fieldcontent">
								<span>My Term Policy</span>
							</div>
							<div class="nylui-userlabel">
								<span>Insured:</span> <span>Amanda Palmer</span>
							</div>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-3 col-xs-5">
							<div class="nylui-fieldlabel nylui-alignedright nylui-text-uppercase">
								POLICY NUMBER
							</div>

							<div class="nylui-fieldcontent nylui-alignedright">
								665557777
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
							<!-- Field Label starts here -->
							<div class="nylui-label">
								<div class="nylui-labelinner">
									<span class="nylui-detaillabel-large"><span class="font-size-x-small nylui-dolaricon">$</span><span class="nylui-currency-format">803123</span>
									</span>
									<br />
									<span class="nylui-benefit-label">Death Benefit</span>
								</div>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-lg-3 col-md-3 col-sm-3 col-xs-4">
							<!-- Field Label starts here -->
						</div>
						<div class="col-lg-3 col-md-3 col-sm-3 hidden-xs">
							<!-- Field Label starts here -->
						</div>
						<div class="col-lg-3 col-md-3 col-sm-3 col-xs-4">
							<span class="nylui-premium-due-label">You have a premium due </span>
						</div>

						<div class="col-lg-3 col-md-3 col-sm-3 col-xs-4">
							<button class="nylui-button nylui-fluid" type="button">Pay</button>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-lg-6 col-md-6 hidden-sm hidden-xs">
						<hr class="nylui-hr">
					</div>
					<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
						<button class="nylui-button nylui-fluid" type="button">go to policy</button>
					</div>
				</div>
			</div>

			<!-- Your element code ends here -->
			<!-- code snippet come below -->
			<div class="virtusauidocs-partials-code">
				<span class="virtusauidocs-partials-code-title">Code</span>
				<pre class="prettyprint"><code class="lang-html" style="display:inline-block"></code></pre>
			</div>
		</div>
		<!--    End of CARD TYPE:Term Life Insurance-->
		<!--    Start of CARD TYPE:Universal Life Insurance-->
		<div class="virtusauidocs-partials">
			<h2 class="virtusauidocs-partials-title virtusauidocsh2">CARD TYPE:Universal Life Insurance</h2>
			<!-- Your element code starts here -->
			<div class="nylui-policy-summary-wrapper">

				<div class="nylui-card-block-wrapper">
					<div class="row">

						<div class="col-lg-9 col-md-9 col-sm-9 col-xs-7">
							<!-- Field Label starts here -->
							<div class="nylui-fieldlabel nylui-text-uppercase">
								<span>Universal Life Insurance</span>
							</div>

							<div class="nylui-fieldcontent">
								<span>My Universal Policy</span>
							</div>
							<div class="nylui-userlabel">
								<span>Insured:</span> <span>Amanda Palmer</span>
							</div>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-3 col-xs-5">
							<div class="nylui-fieldlabel nylui-alignedright nylui-text-uppercase">
								POLICY NUMBER
							</div>

							<div class="nylui-fieldcontent nylui-alignedright">
								665557777
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
							<!-- Field Label starts here -->
							<div class="nylui-label">
								<div class="nylui-labelinner">
									<span class="nylui-detaillabel-large"><span class="font-size-x-small nylui-dolaricon">$</span><span class="nylui-currency-format">803123</span>
									</span>
									<br />
									<span class="nylui-benefit-label">Death Benefit</span>
								</div>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-lg-3 col-md-3 col-sm-3 col-xs-4">
							<!-- Field Label starts here -->
							<div class="nylui-label">
								<div class="nylui-labelinner">
									<span class="nylui-detaillabel-small"><span class="font-size-x-small nylui-dolaricon">$</span><span class="nylui-currency-format">8506</span>
									</span>
									<br />
									<span class="nylui-benefit-label">Cash value</span>
								</div>
							</div>
						</div>

						<div class="col-lg-3 col-md-3 col-sm-3 hidden-xs">

						</div>



						<div class="col-lg-3 col-md-3 col-sm-3 col-xs-4">
							<span class="nylui-premium-due-label">You have a premium due </span>
						</div>

						<div class="col-lg-3 col-md-3 col-sm-3 col-xs-4">
							<button class="nylui-button nylui-fluid" type="button">Pay</button>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-lg-6 col-md-6 hidden-sm hidden-xs">
						<hr class="nylui-hr">
					</div>
					<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
						<button class="nylui-button nylui-fluid" type="button">go to policy</button>
					</div>
				</div>
			</div>
			<!-- Your element code ends here -->
			<!-- code snippet come below -->
			<div class="virtusauidocs-partials-code">
				<span class="virtusauidocs-partials-code-title">Code</span>
				<pre class="prettyprint"><code class="lang-html" style="display:inline-block"></code></pre>
			</div>
		</div>
		<!--    End of CARD TYPE:Universal Life Insurance-->
		<!--    Start of CARD TYPE:Variable Annuity-->
		<div class="virtusauidocs-partials">
			<h2 class="virtusauidocs-partials-title virtusauidocsh2">CARD TYPE:Variable Annuity</h2>
			<!-- Your element code starts here -->
			<div class="nylui-policy-summary-wrapper">

				<div class="nylui-card-block-wrapper">
					<div class="row">

						<div class="col-lg-9 col-md-9 col-sm-9 col-xs-7">
							<!-- Field Label starts here -->
							<div class="nylui-fieldlabel nylui-text-uppercase">
								<span>Variable Annuity</span>
							</div>

							<div class="nylui-fieldcontent">
								<span>My Variable Annuity</span>
							</div>
							<div class="nylui-userlabel">
								<span>Annuitant:</span> <span>Amanda Palmer</span>
							</div>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-3 col-xs-5">
							<div class="nylui-fieldlabel nylui-alignedright nylui-text-uppercase">
								POLICY NUMBER
							</div>

							<div class="nylui-fieldcontent nylui-alignedright">
								665557777
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
							<!-- Field Label starts here -->
							<div class="nylui-label">
								<div class="nylui-labelinner">
									<span class="nylui-detaillabel-large"><span class="font-size-x-small nylui-dolaricon">$</span><span class="nylui-currency-format">803123</span>
									</span>
									<br />
									<span class="nylui-benefit-label">Current value</span>
								</div>
							</div>
						</div>
					</div>

				</div>

				<div class="row">
					<div class="col-lg-6 col-md-6 hidden-sm hidden-xs">
						<hr class="nylui-hr">
					</div>
					<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
						<button class="nylui-button nylui-fluid" type="button">go to annuity</button>
					</div>
				</div>
			</div>
			<!-- Your element code ends here -->
			<!-- code snippet come below -->
			<div class="virtusauidocs-partials-code">
				<span class="virtusauidocs-partials-code-title">Code</span>
				<pre class="prettyprint"><code class="lang-html" style="display:inline-block"></code></pre>
			</div>

		</div>
		<!--    End of CARD TYPE:Variable Annuity-->
		<!--    Start of CARD TYPE:Variable Life Insurance-->
		<div class="virtusauidocs-partials">
			<h2 class="virtusauidocs-partials-title virtusauidocsh2">CARD TYPE:Variable Life Insurance</h2>
			<!-- Your element code starts here -->
			<div class="nylui-policy-summary-wrapper">

				<div class="nylui-card-block-wrapper">
					<div class="row">

						<div class="col-lg-9 col-md-9 col-sm-9 col-xs-7">
							<!-- Field Label starts here -->
							<div class="nylui-fieldlabel nylui-text-uppercase">
								<span>Variable Life Insurance</span>
							</div>

							<div class="nylui-fieldcontent">
								<span>My Variable Life Policy</span>
							</div>
							<div class="nylui-userlabel">
								<span>Insured:</span> <span>Amanda Palmer</span>
							</div>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-3 col-xs-5">
							<div class="nylui-fieldlabel nylui-alignedright nylui-text-uppercase">
								POLICY NUMBER
							</div>

							<div class="nylui-fieldcontent nylui-alignedright">
								665557777
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
							<!-- Field Label starts here -->
							<div class="nylui-label">
								<div class="nylui-labelinner">
									<span class="nylui-detaillabel-large"><span class="font-size-x-small nylui-dolaricon">$</span><span class="nylui-currency-format">678901.25</span>
									</span>
									<br />
									<span class="nylui-benefit-label">Death Benefit</span>
								</div>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-lg-3 col-md-3 col-sm-3 col-xs-4">
							<!-- Field Label starts here -->
							<div class="nylui-label">
								<div class="nylui-labelinner">
									<span class="nylui-detaillabel-small"><span class="font-size-x-small nylui-dolaricon">$</span>8,506.00
									</span>
									<br />
									<span class="nylui-benefit-label">Cash value</span>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-lg-6 col-md-6 hidden-sm hidden-xs">
						<hr class="nylui-hr">
					</div>
					<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
						<button class="nylui-button nylui-fluid" type="button">go to policy</button>
					</div>
				</div>
			</div>
			<!-- Your element code ends here -->
			<!-- code snippet come below -->
			<div class="virtusauidocs-partials-code">
				<span class="virtusauidocs-partials-code-title">Code</span>
				<pre class="prettyprint"><code class="lang-html" style="display:inline-block"></code></pre>
			</div>
		</div>
		<!--    End of CARD TYPE:Variable Life Insurance-->
		<!--    Start of CARD TYPE:Fixed Annuity-->
		<div class="virtusauidocs-partials">
			<h2 class="virtusauidocs-partials-title virtusauidocsh2">CARD TYPE:Fixed Annuity</h2>
			<!-- Your element code starts here -->
			<div class="nylui-policy-summary-wrapper">

				<div class="nylui-card-block-wrapper">
					<div class="row">

						<div class="col-lg-9 col-md-9 col-sm-9 col-xs-7">
							<!-- Field Label starts here -->
							<div class="nylui-fieldlabel nylui-text-uppercase">
								<span>Fixed Annuity</span>
							</div>

							<div class="nylui-fieldcontent">
								<span>My Fixed Annuity</span>
							</div>
							<div class="nylui-userlabel">
								<span>Annuitant:</span> <span>Amanda Palmer</span>
							</div>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-3 col-xs-5">
							<div class="nylui-fieldlabel nylui-alignedright nylui-text-uppercase">
								POLICY NUMBER
							</div>

							<div class="nylui-fieldcontent nylui-alignedright">
								665557777
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
							<!-- Field Label starts here -->
							<div class="nylui-label">
								<div class="nylui-labelinner">
									<span class="nylui-detaillabel-large"><span class="font-size-x-small nylui-dolaricon">$</span><span class="nylui-currency-format">2000</span>
									</span>
									<br />
									<span class="nylui-benefit-label">Income Amount</span>
								</div>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-lg-3 col-md-3 col-sm-3 col-xs-4">
							<!-- Field Label starts here -->
							<div class="nylui-label">
								<div class="nylui-labelinner">
									<span class="nylui-policy-summary-label-small">Quarterly
									</span>
									<br />
									<span class="nylui-benefit-label">Income Frequency</span>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-lg-6 col-md-6 hidden-sm hidden-xs">
						<hr class="nylui-hr">
					</div>
					<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
						<button class="nylui-button nylui-fluid" type="button">go to annuity</button>
					</div>
				</div>
			</div>
			<!-- Your element code ends here -->
			<!-- code snippet come below -->
			<div class="virtusauidocs-partials-code">
				<span class="virtusauidocs-partials-code-title">Code</span>
				<pre class="prettyprint"><code class="lang-html" style="display:inline-block"></code></pre>
			</div>
		</div>
		<!--    End of CARD TYPE:Fixed Annuity-->
		<!--    Start of CARD TYPE:Income Annuity-->
		<div class="virtusauidocs-partials">
			<h2 class="virtusauidocs-partials-title virtusauidocsh2">CARD TYPE:Income Annuity</h2>
			<!-- Your element code starts here -->
			<div class="nylui-policy-summary-wrapper">

				<div class="nylui-card-block-wrapper">
					<div class="row">

						<div class="col-lg-9 col-md-9 col-sm-9 col-xs-7">
							<!-- Field Label starts here -->
							<div class="nylui-fieldlabel nylui-text-uppercase">
								<span>Income Annuity</span>
							</div>

							<div class="nylui-fieldcontent">
								<span>My Income Annuity</span>
							</div>
							<div class="nylui-userlabel">
								<span>Annuitant:</span> <span>Amanda Palmer</span>
							</div>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-3 col-xs-5">
							<div class="nylui-fieldlabel nylui-alignedright nylui-text-uppercase">
								POLICY NUMBER
							</div>

							<div class="nylui-fieldcontent nylui-alignedright">
								665557777
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
							<!-- Field Label starts here -->
							<div class="nylui-label">
								<div class="nylui-labelinner">
									<span class="nylui-detaillabel-large"><span class="font-size-x-small nylui-dolaricon">$</span><span class="nylui-currency-format">875030.00</span>
									</span>
									<br />
									<span class="nylui-benefit-label">Current Value</span>
								</div>
							</div>
						</div>
					</div>

				</div>

				<div class="row">
					<div class="col-lg-6 col-md-6 hidden-sm hidden-xs">
						<hr class="nylui-hr">
					</div>
					<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
						<button class="nylui-button nylui-fluid" type="button">go to annuity</button>
					</div>
				</div>
			</div>
			<!-- Your element code ends here -->
			<!-- code snippet come below -->
			<div class="virtusauidocs-partials-code">
				<span class="virtusauidocs-partials-code-title">Code</span>
				<pre class="prettyprint"><code class="lang-html" style="display:inline-block"></code></pre>
			</div>
		</div>
		<!--    End of CARD TYPE:Income Annuity-->
		<!--    Start of CARD TYPE:Variable Universal Life-->
		<div class="virtusauidocs-partials">
			<h2 class="virtusauidocs-partials-title virtusauidocsh2">CARD TYPE:Variable Universal Life</h2>
			<!-- Your element code starts here -->
			<div class="nylui-policy-summary-wrapper">

				<div class="nylui-card-block-wrapper">
					<div class="row">

						<div class="col-lg-9 col-md-9 col-sm-9 col-xs-7">
							<!-- Field Label starts here -->
							<div class="nylui-fieldlabel nylui-text-uppercase">
								<span>Variable Universal Life</span>
							</div>

							<div class="nylui-fieldcontent">
								<span>My Variable Universal Life Policy</span>
							</div>
							<div class="nylui-userlabel">
								<span>Insured:</span><span>Amanda Palmer</span>
							</div>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-3 col-xs-5">
							<div class="nylui-fieldlabel nylui-alignedright nylui-text-uppercase">
								POLICY NUMBER
							</div>

							<div class="nylui-fieldcontent nylui-alignedright">
								665557777
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
							<!-- Field Label starts here -->
							<div class="nylui-label">
								<div class="nylui-labelinner">
									<span class="nylui-detaillabel-large"><span class="font-size-x-small nylui-dolaricon">$</span><span class="nylui-currency-format">803123</span>
									</span>
									<br />
									<span class="nylui-benefit-label">Death Benefit</span>
								</div>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-lg-3 col-md-3 col-sm-3 col-xs-4">
							<!-- Field Label starts here -->
							<div class="nylui-label">
								<div class="nylui-labelinner">
									<span class="nylui-detaillabel-small"><span class="font-size-x-small nylui-dolaricon">$</span><span class="nylui-currency-format">8506</span>
									</span>
									<br />
									<span class="nylui-benefit-label">Cash value</span>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-lg-6 col-md-6 hidden-sm hidden-xs">
						<hr class="nylui-hr">
					</div>
					<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
						<button class="nylui-button nylui-fluid" type="button">go to policy</button>
					</div>
				</div>
			</div>
			<!-- Your element code ends here -->
			<!-- code snippet come below -->
			<div class="virtusauidocs-partials-code">
				<span class="virtusauidocs-partials-code-title">Code</span>
				<pre class="prettyprint"><code class="lang-html" style="display:inline-block"></code></pre>
			</div>
		</div>
		<!--    End of CARD TYPE:Variable Universal Life-->
		<!--    Start of CARD TYPE:Long Term Care-->
		<div class="virtusauidocs-partials">
			<h2 class="virtusauidocs-partials-title virtusauidocsh2">CARD TYPE:Long Term Care</h2>
			<!-- Your element code starts here -->
			<div class="nylui-policy-summary-wrapper">
				<div class="row nylui-marginbottom10">
					<div class="col-lg-9 col-md-9 col-sm-9 col-xs-8">
						<!-- Field Label starts here -->
						<div class="nylui-fieldlabel">
							LONG TERM CARE
						</div>
						<div class="nylui-fieldcontent">
							My Long Term Care Policy
						</div>
						<div class="nylui-userlabel">
							<span>Insured:</span> <span>Amanda Palmer</span>
						</div>
					</div>
					<div class="col-lg-3 col-md-3 col-sm-3 col-xs-4">
						<div class="nylui-fieldlabel nylui-alignedright nylui-text-uppercase">
							POLICY NUMBER
						</div>
						<div class="nylui-fieldcontent nylui-alignedright">
							665557777
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
						<!-- Field Label starts here -->
						<div class="nylui-label">
							<div class="nylui-labelinner">
								<div>
									<span class="nylui-detaillabel-large"><span class="font-size-x-small nylui-dolaricon">$</span><span class="nylui-currency-format">1000.00</span></span>
								</div>
								<div>
									<span class="nylui-benefit-label">Nursing home maximum daily benefit</span>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
						<!-- Field Label starts here -->
						<div class="nylui-label">
							<div class="nylui-labelinner">
								<div class="nylui-longterm-label-small">
									<span class="nylui-detaillabel-small"><span class="font-size-x-small nylui-dolaricon">$</span>1,500,000.00</span>
								</div>
								<div>
									<span class="nylui-benefit-label">Maximum benefit</span>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row nylui-marginbottom10">
					<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
						<!-- Field Label starts here -->
						<div class="nylui-label">
							<div class="nylui-labelinner">
								<div>
									<span class="nylui-detaillabel-small"><span class="font-size-x-small nylui-dolaricon">$</span>500.00</span>
								</div>
								<div>
									<span class="nylui-benefit-label">Home health care maximum daily benefit</span>
								</div>
							</div>
						</div>
					</div>

				</div>
				<div class="row nylui-marginbottom10">
					<div class="col-lg-6 col-md-6 col-sm-7 col-xs-12">
						<hr class="nylui-hr">
					</div>
					<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
						<button class="nylui-button nylui-fluid" type="button">go to policy</button>
					</div>
				</div>
			</div>
			<!-- Your element code ends here -->
			<!-- code snippet come below -->
			<div class="virtusauidocs-partials-code">
				<span class="virtusauidocs-partials-code-title">Code</span>
				<pre class="prettyprint"><code class="lang-html" style="display:inline-block"></code></pre>
			</div>
		</div>
		<!--    End of CARD TYPE:Long Term Care-->
		<!--    Start of CARD TYPE:529 Plans-->
		<div class="virtusauidocs-partials">
			<h2 class="virtusauidocs-partials-title virtusauidocsh2">CARD TYPE:529 Plans</h2>
			<!-- Your element code starts here -->
			<div class="nylui-policy-summary-wrapper">

				<div class="nylui-card-block-wrapper">
					<div class="row">

						<div class="col-lg-9 col-md-9 col-sm-9 col-xs-7">
							<!-- Field Label starts here -->
							<div class="nylui-fieldlabel nylui-text-uppercase">
								<span>529 Plan</span>
							</div>

							<div class="nylui-fieldcontent">
								<span>My 529 Plan</span>
							</div>

						</div>
						<div class="col-lg-3 col-md-3 col-sm-3 col-xs-5">
							<div class="nylui-fieldlabel nylui-alignedright nylui-text-uppercase">
								contract id
							</div>

							<div class="nylui-fieldcontent nylui-alignedright">
								665557777
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
							<!-- Field Label starts here -->
							<div class="nylui-label">
								<div class="nylui-labelinner">
									<span class="nylui-detaillabel-large"><span class="font-size-x-small nylui-dolaricon">$</span><span class="nylui-currency-format">1000000</span>
									</span>
									<br />
									<span class="nylui-benefit-label">Account balance</span>
								</div>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-lg-3 col-md-3 col-sm-3 col-xs-4">
							<!-- Field Label starts here -->
							<div class="nylui-label">
								<div class="nylui-labelinner">
									<span class="nylui-policy-summary-label-small ">234
									</span>
									<br />
									<span class="nylui-benefit-label">Shares owned</span>
								</div>
							</div>
						</div>

						<div class="col-lg-3 col-md-3 col-sm-3 hidden-xs">
							<!-- Field Label starts here -->
							<div class="nylui-label">
								<div class="nylui-labelinner">
									<span class="nylui-policy-summary-label-small">4567
									</span>
									<br />
									<span class="nylui-benefit-label">Investment code</span>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-lg-6 col-md-6 hidden-sm hidden-xs">
						<hr class="nylui-hr">
					</div>
					<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
						<button class="nylui-button nylui-fluid" type="button">go to contract</button>
					</div>
				</div>
			</div>
			<!-- Your element code ends here -->
			<!-- code snippet come below -->
			<div class="virtusauidocs-partials-code">
				<span class="virtusauidocs-partials-code-title">Code</span>
				<pre class="prettyprint"><code class="lang-html" style="display:inline-block"></code></pre>
			</div>
		</div>
		<!--    End of CARD TYPE:529 Plans-->
		<!--    Start of CARD TYPE:NYLSEC-->
		<div class="virtusauidocs-partials">
			<h2 class="virtusauidocs-partials-title virtusauidocsh2">CARD TYPE:NYLSEC</h2>
			<!-- Your element code starts here -->
			<div class="nylui-policy-summary-wrapper">

				<div class="nylui-card-block-wrapper">
					<div class="row">

						<div class="col-lg-9 col-md-9 col-sm-9 col-xs-7">
							<!-- Field Label starts here -->
							<div class="nylui-fieldlabel nylui-text-uppercase">
								<span>New York Life Securities</span>
							</div>

							<div class="nylui-fieldcontent">
								<span>My NYLSEC</span>
							</div>

						</div>
						<div class="col-lg-3 col-md-3 col-sm-3 col-xs-5">
							<div class="nylui-fieldlabel nylui-alignedright nylui-text-uppercase">
								ACCOUNT NUMBER
							</div>

							<div class="nylui-fieldcontent nylui-alignedright">
								665557777
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
							<!-- Field Label starts here -->
							<div class="nylui-label">
								<div class="nylui-labelinner">
									<span class="nylui-detaillabel-large"><span class="font-size-x-small nylui-dolaricon">$</span><span class="nylui-currency-format">10000.00</span>
									</span>
									<br />
									<span class="nylui-benefit-label">Account balance</span>
								</div>
							</div>
						</div>
					</div>

				</div>

				<div class="row">
					<div class="col-lg-6 col-md-6 hidden-sm hidden-xs">
						<hr class="nylui-hr">
					</div>
					<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
						<button class="nylui-button nylui-fluid" type="button">go to account</button>
					</div>
				</div>
			</div>
			<!-- Your element code ends here -->
			<!-- code snippet come below -->
			<div class="virtusauidocs-partials-code">
				<span class="virtusauidocs-partials-code-title">Code</span>
				<pre class="prettyprint"><code class="lang-html" style="display:inline-block"></code></pre>
			</div>
		</div>
		<!--    End of CARD TYPE:NYLSEC-->
		<!--    Start of CARD TYPE:Mainstay Mutual Funds-->
		<div class="virtusauidocs-partials">
			<h2 class="virtusauidocs-partials-title virtusauidocsh2">CARD TYPE:Mainstay Mutual Funds</h2>
			<!-- Your element code starts here -->
			<div class="nylui-policy-summary-wrapper">

				<div class="nylui-card-block-wrapper">
					<div class="row">

						<div class="col-lg-9 col-md-9 col-sm-9 col-xs-7">
							<!-- Field Label starts here -->
							<div class="nylui-fieldlabel nylui-text-uppercase">
								<span>Mainstay Mutual Funds</span>
							</div>

							<div class="nylui-fieldcontent">
								<span>My Mainstay Mutual Funds</span>
							</div>

						</div>
						<div class="col-lg-3 col-md-3 col-sm-3 col-xs-5">
							<div class="nylui-fieldlabel nylui-alignedright nylui-text-uppercase">
								ACCOUNT NUMBER
							</div>

							<div class="nylui-fieldcontent nylui-alignedright">
								665557777
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
							<!-- Field Label starts here -->
							<div class="nylui-label">
								<div class="nylui-labelinner">
									<span class="nylui-detaillabel-large"><span class="font-size-x-small nylui-dolaricon">$</span><span class="nylui-currency-format">10000.00</span>
									</span>
									<br />
									<span class="nylui-benefit-label">Account balance</span>
								</div>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-lg-3 col-md-3 col-sm-3 col-xs-4">
							<!-- Field Label starts here -->
							<div class="nylui-label">
								<div class="nylui-labelinner">
									<span class="nylui-policy-summary-label-small">234
									</span>
									<br />
									<span class="nylui-benefit-label">Shares owned</span>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-lg-6 col-md-6 hidden-sm hidden-xs">
						<hr class="nylui-hr">
					</div>
					<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
						<button class="nylui-button nylui-fluid" type="button">go to account</button>
					</div>
				</div>
			</div>
			<!-- Your element code ends here -->
			<!-- code snippet come below -->
			<div class="virtusauidocs-partials-code">
				<span class="virtusauidocs-partials-code-title">Code</span>
				<pre class="prettyprint"><code class="lang-html" style="display:inline-block"></code></pre>
			</div>
		</div>
		<!--    End of CARD TYPE:Mainstay Mutual Funds-->
	</section>



</article>
<!-- End Module article-->