<!-- Module article-->
<article class="virtusauidocs-module-article" id="quicklink">
    <div class="virtusauidocs-module-article-header">
        <h1 class="virtusauidocs-module-article-title virtusauidocsh1">Link group</h1>
    </div>
    <section class="virtusauidocs-module-article-content">

    	<!-- Your Element/Sub elements starts here -->
		<div class="virtusauidocs-partials">
			<h2 class="virtusauidocs-partials-title virtusauidocsh2">sampal link group</h2>
			<!-- Your element code starts here -->
            <div class="nylui-linkgroup">
            <div class="nylui-linkgroup-inner-header">
                <h3 class="nylui-quick-links-h3">QUICK LINKS</h3>
            </div>
               <ul class="nylui-linkgroup-inner-content">
                <li><a href="#">This is a link</a></li>
                <li><a href="#">This is a link</a></li>
               </ul> 
            </div>
			<!-- Your element code ends here -->
			<!-- code snippet come below -->
			<div class="virtusauidocs-partials-code">
				<span class="virtusauidocs-partials-code-title">Code</span>
				<pre class="prettyprint"><code class="lang-html" style="display:inline-block"></code></pre>
			</div>
		</div>
    </section>
</article>
<!-- End Module article-->

