<!-- Module article-->
<article class="virtusauidocs-module-article" id="rightmenu">
   <div class="virtusauidocs-module-article-header">
      <h1 class="virtusauidocs-module-article-title virtusauidocsh1">Right Side Menu</h1>
   </div>
   <section class="virtusauidocs-module-article-content">
      <!-- Your Element/Sub elements starts here -->
      <div class="virtusauidocs-partials">
         <h2 class="virtusauidocs-partials-title virtusauidocsh2"></h2>
         <!-- Your element code starts here -->
       <aside class="col-xs-12 col-sm-3 col-md-2 nylui-right-menu">
		  <div class="nylui-right-menu-wrapper">                     
			<div class="nylui-right-menu-inner">
				<h3>View lorum ipsum</h3>
				<ul>
					<li><a href="">Add lorum ipsum</a></li>
					<li><a href="">Adjust lorum ipsum</a></li>
					<li><a href="">Buy lorum ipsum</a></li>                      
					<li><a href="">View lorum ipsum</a></li>                                        
				</ul>
			</div>
			<div class="nylui-right-menu-inner">
				<h3>Get Help</h3>
				<ul>
					<li><a href="">How lorum ipsum</a></li>
					<li><a href="">How lorum ipsum</a></li>
					<li><a href="">How lorum ipsum</a></li>                      
					<li><a href="">How lorum ipsum</a></li>
					<li><a href="">How lorum ipsum</a></li>                      
				</ul>
			</div>
			<!-- close button for mobile view menu -->
			<button class="btn-close-menu"></button>
		   </div>
		   <button class="btn-right-menu">ACTIONS  <i class="icon icon-arrow icon-arrow-dims"></i></button>                  
		</aside>
         <!-- Your element code ends here -->
         <!-- code snippet come below -->
         <div class="virtusauidocs-partials-code">
            <span class="virtusauidocs-partials-code-title">Code</span>
            <pre class="prettyprint"><code class="lang-html" style="display:inline-block"></code></pre>
         </div>
      </div>
   </section>
</article>
<!-- End Module article-->