<!-- Module article-->
<article class="virtusauidocs-module-article" id="transactiongrid">
   <div class="virtusauidocs-module-article-header">
      <h1 class="virtusauidocs-module-article-title virtusauidocsh1">Transaction Grid</h1>
   </div>
   <section class="virtusauidocs-module-article-content">
      <!-- Your Element/Sub elements starts here -->
      <div class="virtusauidocs-partials">
         <h2 class="virtusauidocs-partials-title virtusauidocsh2"></h2>
         <!-- Your element code starts here -->
         <div class="nylui-grid-outerwrapper">
            <div class="nylui-grid">
               <table class="nylui-grid-inner">
                  <tr>
                     <th><span>DATE</span></th>
                     <th><span>DESCRIPTION</span></th>
                     <th><span>DUE DATE</span></th>
                     <th><span>PREMIUM</span></th>
                  </tr>
                  <tr>
                     <td><span>03/01</span></td>
                     <td><span>Autopay Premium Payment / NYL-A-Plan</span></td>
                     <td><span>03/01/2017</span></td>
                     <td><span>$110.23</span></td>
                  </tr>
                  <tr>
                     <td><span>03/01</span></td>
                     <td><span>Autopay Premium Payment / NYL-A-Plan</span></td>
                     <td><span>03/01/2017</span></td>
                     <td><span>$110.23</span></td>
                  </tr>
               </table>
            </div>
         </div>
         <!-- Your element code ends here -->
         <!-- code snippet come below -->
         <div class="virtusauidocs-partials-code">
            <span class="virtusauidocs-partials-code-title">Code</span>
            <pre class="prettyprint"><code class="lang-html" style="display:inline-block"></code></pre>
         </div>
      </div>
   </section>
</article>
<!-- End Module article-->