  <div class="nylui-breadcrumb-wrapper hidden-xs">
                <nav class="nylui-breadcrumb">
                    <ul>
                        <li  class="active">My Dashboard <i class="fa fa-angle-right" aria-hidden="true"></i></li>
                        <li> Whole Lfe Policy A <i class="fa fa-angle-right" aria-hidden="true"></i></li>
                        <li>My Payments <i class="fa fa-angle-right" aria-hidden="true"></i></li>
                        <li>Transaction History</li>
                    </ul>
                </nav>
            </div>