/* Code for the Button default with 'Add' icon */
<button class="nylui-button" type="button"><i class="nylui-icon nylui-button-icon-right fa fa-plus-circle"></i>Add</button>

/* Code for the Button default with 'Edit' icon */
<button class="nylui-button" type="button"><i class="nylui-icon nylui-button-icon-right fa fa-pencil-square-o"></i>Edit</button>

/* Code for the Button small with 'Done' icon */
<button class="nylui-button nylui-small" type="button"><i class="nylui-icon nylui-button-icon-right fa fa-check-circle"></i>Done</button>

/* Code for the button small */
<button class="nylui-button nylui-oval" type="button">Search <i class="nylui-icon fa fa-search"></i></button>