/* Code for the default button */
<button class="nylui-button nylui-btnblue" type="button">Default</button>

/* Code for the default button diabled */
<button class="nylui-button" type="button" disabled="">Disabled</button>

/* Code for the button default small*/
<button class="nylui-button nylui-small nylui-btnblue" type="button">Small button</button>

/* Code for the button small */
<button class="nylui-button nylui-small" type="button">Default</button>

/* Code for the Button Light Blue */
<button class="nylui-button nylui-btnlightblue" type="button">Default</button>

/* Code for the Button Light Blue small */
<button class="nylui-button nylui-small nylui-btnlightblue" type="button">Small button</button>

/* Code for the Button gray */
<button class="nylui-button nylui-btngray" type="button">Default</button>

/* Code for the Button gray small*/
<button class="nylui-button nylui-btngray nylui-small" type="button">Small button</button>