<!--Input with floating labels-->
<div class="nylui-Floating-input">
 <input id="" type="text" required="required"/>
 <label for="">First Name</label>
</div>

<!--Disabled- Floating Input Text-->
<div class="nylui-floating-input">
 <input id="" type="text" required="required" disabled="disabled"/>
 <label for="">First Name</label>
</div>

<!--Error- Floating Input Text-->
<div class="nylui-floating-input nylui-input-error">
 <input id="" type="text" required="required"/>
 <label for="">First Name</label>
</div>