 /* Code for large blue color label */
<div class="nylui-labelblue">
	<span class="nylui-labelblue nylui-largelabel">$<span class="nylui-currency-format">803123</span></span>
</div>
/* Code for small blue color label */
<div class="nylui-labelblue">
	<span class="nylui-labelblue nylui-smalllabel">$<span class="nylui-currency-format">803123</span></span>
</div>
/* Code for large dark blue color label */
<div class="nylui-label nylui-labaldarkblue">
	<span class="nylui-label nylui-largelabel">$<span class="nylui-currency-format">803123</span></span>
</div>
/* Code for small dark blue color label */
<div class="nylui-label nylui-labaldarkblue">
	<span class="nylui-label nylui-smalllabel">$<span class="nylui-currency-format">803123</span></span>
</div>
/* Code for large Green color label */
<div class="nylui-label nylui-laballightgreen">
	<span class="nylui-label nylui-largelabel">$<span class="nylui-currency-format">803123</span></span>
</div>
/* Code for small Green color label */
<div class="nylui-label nylui-laballightgreen">
	<span class="nylui-label nylui-smalllabel">$<span class="nylui-currency-format">803123</span></span>
</div>
/* Code for large Orange color label */
<div class="nylui-label nylui-laballightorange">
	<span class="nylui-label nylui-largelabel">$<span class="nylui-currency-format">803123</span></span>
</div>
/* Code for small Orange color label */
<div class="nylui-label nylui-laballightorange">
	<span class="nylui-label nylui-smalllabel">$<span class="nylui-currency-format">803123</span></span>
</div>
/* Code for white color label */
<div class="nylui-label">
	<div class="nylui-labelinner">
		<div>
			<span class="nylui-detaillabel-large"><span class="font-size-x-small nylui-dolaricon">$</span><span class="nylui-currency-format">803123</span></span>
		</div>
		<div>
			<span class="nylui-benefit-label">Current benefit</span>
		</div>
	</div>
</div>
/* Code for small white color label */
<div class="nylui-label">
	<div class="nylui-labelinner">
		<div>
			<span class="nylui-detaillabel-small"><span class="font-size-x-small nylui-dolaricon">$</span><span class="nylui-currency-format">803123</span></span>
		</div>
		<div>
			<span class="nylui-benefit-label">Current benefit</span>
		</div>
	</div>
</div>