 <!-- Select control blue border   -->
<div class="nylui-select">
   <div class="nylui-select-border-blue">
      <select>
         <option value="select">Select</option>
         <option value="saab">Saab</option>
         <option value="mercedes">Mercedes</option>
         <option value="audi">Audi</option>
      </select>
      <div class="nylui-arrow"><i class="fa fa-caret-down"></i></div>
   </div>
</div>
  <!-- Select control gray border   -->
<div class="nylui-select">
   <div class="nylui-select-border-gray">
      <select>
         <option value="select">Select</option>
         <option value="saab">Saab</option>
         <option value="mercedes">Mercedes</option>
         <option value="audi">Audi</option>
      </select>
      <div class="nylui-arrow"><i class="fa fa-caret-down"></i></div>
   </div>
</div>

<!-- Select control none border menu   -->
<div class="nylui-select nylui-select-more">
  <div class="nylui-select-border-none">
      <select>
        <option value="select">Select</option>
        <option value="saab">Saab</option>
        <option value="mercedes">Mercedes</option>
        <option value="audi">Audi</option>
      </select>
      <div class="nylui-arrow"><i class="fa fa-caret-down"></i></div>
  </div>
</div>