<footer>
<div class="nylui-footer">
<div class="container-fluid text-center">
<div class="col-sm-12">
<div class="nylui-footercolumn">
<ul class="list-group">
<li class="list-group-item inline-block"><a href="#">Contact</a></li>
<li class="list-group-item inline-block"><a href="#">FAQs</a></li>
<li class="list-group-item inline-block"><a href="#">Newsroom</a></li>
<li class="list-group-item inline-block"><a href="#">Careers</a></li>
</ul>
</div>
</div>
<div class="nylui-privacy-policies">
<div><span>Terms of use</span></div>
<div><span>Privacy & Other Policies</span></div>
</div>
<div class="nylui-footerborder">
</div>
<div class="nylui-copyright">
<span class="nylui-footer-bottom-step1">©&nbsp;2017 New York Life Insurance Company, New York,</span>
<span class="nylui-footer-bottom-step2">NY</span>
<span class="nylui-footer-bottom-step3">ALL RIGHTS RESERVED.</span>
</div>
</div>
</div>
</footer>